<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TogglTempoSync.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A5F7D6E27AA7BAB00BED514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A5F7D8327AA7BAD00BED514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A5F7D8D27AA7BAD00BED514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
